@model IEnumerable<OTAWebApp.Models.Device>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NickName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SerialNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BoardModel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Software)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareLabel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoftwareVersion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastSeen)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SerialNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BoardModel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Software)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftwareLabel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoftwareVersion)
            </td>
            <td>
                @OTAWebApp.Utils.CommonTools.DateFormated(item.LastSeen)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
