@model OTAWebApp.ViewModels.SoftwareTypeDetailsData

@{
    ViewData["Title"] = "Details";
}

<h1>@ViewBag.SoftwareTypeName</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoftwareType.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoftwareType.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SoftwareType.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SoftwareType.Description)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SoftwareType.Id">Edit</a> |
    <a asp-action="Delete" asp-route-id="@Model.SoftwareType.Id">Delete</a>
</div>


<div>
    <hr />
    
        <h3>Reported Versions</h3>

        <table class="table">
            <tr>
                <th>Version</th>
                <th>Autor</th>
                <th>Date</th>
                <th></th>
            </tr>
            @if (Model.SoftwareVersions.Any())
            {
                foreach (var item in Model.SoftwareVersions)
                {
                    string selectedRow = "";
                    if (item.Id == ViewBag.SoftwareVersionsID)
                    {
                        selectedRow = "success";
                    }
                    <tr class="@selectedRow">
                        <td>
                            @item.FullVersion
                        </td>
                        <td>
                            @item.Author
                        </td>
                        <td>
                            @item.Date
                        </td>
                        <td>
                            <a asp-action="Details" asp-controller="SoftwareVersions" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Edit" asp-controller="SoftwareVersions" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Delete" asp-controller="SoftwareVersions" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }

            }
            </table>
    
    <a asp-action="Create" asp-controller="SoftwareVersions" asp-route-SoftwareTypeId="@Model.SoftwareType.Id">Add new version</a>
